table, th, td {
    border: 1px solid;
    margin-top: 10px;
}

#ContentBox {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    outline: 5px solid grey;
    outline-offset: 10px;
    list-style-type: circle;
}

@media(max-width: 900px) {
    #ContentBox {
        margin-left: 10%;
        margin-right: 10%;
    }
}